# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
target
/KriptonBenchmarkDemo/.gradle/2.14.1/taskArtifacts/cache.properties.lock
/KriptonBenchmarkDemo/.gradle/2.14.1/taskArtifacts/fileHashes.bin
/KriptonBenchmarkDemo/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
/KriptonBenchmarkDemo/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
/KriptonBenchmarkDemo/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
.gradle
/.project
/kripton-parent.iml
build
.idea
/bin/
/.classpath
/kripton-parent/.classpath
/kripton-orm/.classpath
/kripton-project.iml
