<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abubusoft.quickstart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.abubusoft.kripton.quickstart.QuickStartApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.abubusoft.kripton.quickstart.network.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>

        <activity android:name="com.abubusoft.kripton.quickstart.UserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abubusoft.kripton.quickstart.PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName="com.abubusoft.kripton.quickstart.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abubusoft.kripton.quickstart.UserActivity" />
        </activity>
        <activity
            android:name="com.abubusoft.kripton.quickstart.CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName="com.abubusoft.kripton.quickstart.PostActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abubusoft.kripton.quickstart.PostActivity" />
        </activity>
        <activity
            android:name="com.abubusoft.kripton.quickstart.TodoActivity"
            android:label="@string/title_activity_todo"
            android:parentActivityName="com.abubusoft.kripton.quickstart.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abubusoft.kripton.quickstart.UserActivity" />
        </activity>
        <activity
            android:name="com.abubusoft.kripton.quickstart.AlbumActivity"
            android:label="@string/title_activity_album"
            android:parentActivityName="com.abubusoft.kripton.quickstart.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abubusoft.kripton.quickstart.UserActivity" />
        </activity>
        <activity
            android:name="com.abubusoft.kripton.quickstart.PhotoActivity"
            android:label="@string/title_activity_photo"
            android:parentActivityName="com.abubusoft.kripton.quickstart.AlbumActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abubusoft.kripton.quickstart.AlbumActivity" />
        </activity>
    </application>

</manifest>